/* Mobile view */

@media (max-width: 767px) {


    .my-container {
        padding: 1px;
    }

    #calendar-year {
        overflow-y: visible;
        height: auto;

        padding: 20px;

    }


    body {
        /* color: tomato; */
    }

    #main {
        display: none;
    }

    #sticky-sidebar {
        display: inline;

        flex: unset;
        /* color: turquoise; */

        max-width: 100%;

        padding-right: unset;
    }

    .row {
        max-width: 100vw;
    }





}