/* p {
    color: aquamarine;
} */


/* SIDEVIEW: Calendar view */

.row {
    justify-content: center;
}

.my-container {
    padding-left: 55px;
    padding-right: 20px;
}



#sticky-sidebar {
    justify-content: center;
    /* position: fixed;
    top: 70px;
    left: 0px; */
}

#calendar-year {
    overflow-y: scroll;
    height: 90vh;

    /* margin-right: 40px; */
    padding-right: 55px;

    text-align: center;

    padding-bottom: 50px;

}

.calendar-month {
    display: grid;
    grid-template: auto auto auto auto auto auto / auto auto auto auto auto auto auto;

    grid-gap:5px;



    text-align: center;

}

.cal-day {
    font-style: italic;
    color: #007ACC;
}

.date {
    cursor: pointer;
    border: 3px solid transparent;

    /* box-sizing: border-box; */
}

.date:hover {
    border: 3px solid salmon;
    border-radius: 5px;
}


.cal-today {
    /* background-color: rgba(126, 203, 255, 0.705); */

    border: 3px solid palevioletred;
    border-radius: 5px;
}


.cal-month-title {
    padding-top: 30px;
    padding-bottom: 20px;
    /* font-style: italic; */
    font-weight: bold;
}


.calspacer {
    height: 100px;
}



/* MAIN VIEW. */

#main {
    padding-right: 0;
}



/* summer note */
.editorbuttongroup {
    /* padding-right: 55px; */
    display: flex;
    justify-content: right;
}




.hidden {
    display: none;
}

#notepages {
    overflow-y: scroll;
    height: 80vh;

    padding-right: 55px;
}

body {
    overflow-y: hidden;
}



.note {
    border: 1px solid lightslategray;
    border-radius: 5px;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 15px;
    /* margin-top: 50px; */
}

.dayheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    /* border: 2px solid; */

    border-bottom: 5px solid #007ACC;
    /* background-color: rgb(32, 184, 32); */

    margin-right: 65px;

}

#headerdate {
    padding: 0px;
    margin: 0px;
}

.addnotebutton {
    /* margin-right: 55px; */
}


/* Note editor */
