/* Main content container - calender and note view */



body {
    overflow-y: hidden;
}

.py-3 {
    padding-top: 10px !important;
}

.row {
    justify-content: center;
}

.my-container {
    padding-left: 55px;
    padding-right: 20px;
}




/* Calendar view */



#sticky-sidebar {
    justify-content: center;
}


#calendar-year {
    overflow-y: scroll;
    height: 90vh;
    padding-right: 55px;
    text-align: center;
    padding-bottom: 50px;
}


.calendar-month {
    display: grid;
    grid-template: auto auto auto auto auto auto / auto auto auto auto auto auto auto;
    grid-gap: 5px;
    text-align: center;
}


.cal-day {
    font-style: italic;
    color: #007ACC;
}


.date {
    cursor: pointer;
    border: 3px solid transparent;
}


.date:hover {
    border: 3px solid rgb(70, 228, 107);
    border-radius: 5px;
}


.cal-today {
    border: 3px solid palevioletred;
    border-radius: 5px;
}


.cal-month-title {
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}


.calspacer {
    height: 100px;
}




/* Main note view. */



#main {
    padding-right: 0;
}


/* Editor buttons */
#addnotebuttongroup {
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
}


#editorbuttongroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.deletebuttongroup {
    display: flex;
    justify-content: left;
}

.savecancelbuttongroup {
    display: flex;
    justify-content: right;
}


.hidden {
    display: none;
}


#notepages {
    overflow-y: scroll;
    height: 80vh;
    padding-right: 55px;
}


.note {
    border: 1px solid lightslategray;
    border-radius: 5px;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(251, 251, 251);
}


.dayheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 3px solid #007ACC;
    margin-right: 65px;

}


#headerdate {
    padding: 0px;
    margin: 0px;
}


/* Buttons */
.deletenotebutton {
    margin-right: 10px;
}


.cancelnotebutton {
    margin-right: 10px;
}


button {
    margin-top: 5px;
}